openapi: 3.2.0
info:
  title: Unity Economy Purchases API
  description: The Unity Economy REST API allows you to manage in-game economies including virtual currencies, inventory items, purchases, and player balances. It provides both Admin endpoints for configuring economy resources and Player endpoints for runtime player interactions such as making purchases and checking balances.
  version: v2.0.0
  termsOfService: https://unity.com/legal/terms-of-service
  contact:
    name: Unity Support
    url: https://support.unity.com
  license:
    name: Unity Terms of Service
    url: https://unity.com/legal/terms-of-service
servers:
- url: https://economy.services.api.unity.com
  description: Unity Economy Production Server
security:
- bearerAuth: []
tags:
- name: Purchases
  description: Process virtual and real-money purchases
paths:
  /v2/projects/{projectId}/environments/{environmentId}/players/{playerId}/purchases/virtual:
    post:
      operationId: makeVirtualPurchase
      summary: Make Virtual Purchase
      description: Processes a virtual purchase using the player's in-game currency or items.
      tags:
      - Purchases
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
      - name: playerId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualPurchaseRequest'
      responses:
        '200':
          description: Purchase successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualPurchaseResult'
        '402':
          description: Insufficient funds
components:
  schemas:
    VirtualPurchaseRequest:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: The virtual purchase configuration ID
    Timestamp:
      type: object
      properties:
        date:
          type: string
          format: date-time
    InventoryItem:
      type: object
      properties:
        playersItemId:
          type: string
        inventoryItemId:
          type: string
        quantity:
          type: integer
        instanceData:
          type: object
        writeLock:
          type: string
        created:
          $ref: '#/components/schemas/Timestamp'
        modified:
          $ref: '#/components/schemas/Timestamp'
    CurrencyBalance:
      type: object
      properties:
        currencyId:
          type: string
        balance:
          type: integer
        writeLock:
          type: string
        created:
          $ref: '#/components/schemas/Timestamp'
        modified:
          $ref: '#/components/schemas/Timestamp'
    VirtualPurchaseResult:
      type: object
      properties:
        id:
          type: string
        purchased:
          type: object
          properties:
            currencies:
              type: array
              items:
                $ref: '#/components/schemas/CurrencyBalance'
            inventory:
              type: array
              items:
                $ref: '#/components/schemas/InventoryItem'
        costs:
          type: object
          properties:
            currencies:
              type: array
              items:
                $ref: '#/components/schemas/CurrencyBalance'
            inventory:
              type: array
              items:
                $ref: '#/components/schemas/InventoryItem'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Unity Economy Documentation
  url: https://docs.unity.com/ugs/en-us/manual/economy/manual/write-configuration/rest-api
