openapi: 3.2.0
info:
  title: Unity Remote Config Settings API
  description: The Unity Remote Config REST API enables launching new features, testing functionality, and modifying game configurations without requiring app updates. The Admin API manages settings, schemas, and override rules. The Runtime API delivers configuration values to game clients at runtime.
  version: v1.0.0
  termsOfService: https://unity.com/legal/terms-of-service
  contact:
    name: Unity Support
    url: https://support.unity.com
  license:
    name: Unity Terms of Service
    url: https://unity.com/legal/terms-of-service
servers:
- url: https://remote-config.services.api.unity.com
  description: Unity Remote Config Admin Server
- url: https://config.unity3d.com
  description: Unity Remote Config Runtime Server
security:
- bearerAuth: []
tags:
- name: Settings
  description: Manage configuration settings and schemas
paths:
  /v1/projects/{projectId}/environments/{environmentId}/configs/{configId}/settings:
    get:
      operationId: listSettings
      summary: List Config Settings
      description: Returns all settings (key-value pairs) in the configuration.
      tags:
      - Settings
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
      - name: configId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Configuration settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsList'
    post:
      operationId: addSetting
      summary: Add Config Setting
      description: Adds a new key-value setting to the configuration.
      tags:
      - Settings
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
      - name: configId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Setting'
      responses:
        '200':
          description: Setting added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Setting'
components:
  schemas:
    SettingsList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Setting'
    Setting:
      type: object
      required:
      - key
      - type
      - value
      properties:
        key:
          type: string
          description: Configuration key name
        type:
          type: string
          enum:
          - string
          - int
          - bool
          - float
          - json
          description: Data type of the setting
        value: {}
        description:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Unity Remote Config Documentation
  url: https://docs.unity.com/ugs/en-us/manual/remote-config/manual/write-configuration/rest-api
