openapi: 3.2.0
info:
  title: Unity Economy Currencies API
  description: The Unity Economy REST API allows you to manage in-game economies including virtual currencies, inventory items, purchases, and player balances. It provides both Admin endpoints for configuring economy resources and Player endpoints for runtime player interactions such as making purchases and checking balances.
  version: v2.0.0
  termsOfService: https://unity.com/legal/terms-of-service
  contact:
    name: Unity Support
    url: https://support.unity.com
  license:
    name: Unity Terms of Service
    url: https://unity.com/legal/terms-of-service
servers:
- url: https://economy.services.api.unity.com
  description: Unity Economy Production Server
security:
- bearerAuth: []
tags:
- name: Currencies
  description: Manage virtual currencies and player balances
paths:
  /v2/projects/{projectId}/environments/{environmentId}/players/{playerId}/currencies:
    get:
      operationId: getPlayerCurrencyBalances
      summary: Get Player Currency Balances
      description: Returns all currency balances for the specified player.
      tags:
      - Currencies
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
      - name: playerId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Player currency balances
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerCurrencyBalances'
  /v2/projects/{projectId}/environments/{environmentId}/players/{playerId}/currencies/{currencyId}/increment:
    post:
      operationId: incrementPlayerCurrencyBalance
      summary: Increment Player Currency Balance
      description: Increases a player's currency balance by the specified amount.
      tags:
      - Currencies
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
      - name: playerId
        in: path
        required: true
        schema:
          type: string
      - name: currencyId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrencyBalanceUpdate'
      responses:
        '200':
          description: Updated currency balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyBalance'
  /v2/projects/{projectId}/environments/{environmentId}/players/{playerId}/currencies/{currencyId}/decrement:
    post:
      operationId: decrementPlayerCurrencyBalance
      summary: Decrement Player Currency Balance
      description: Decreases a player's currency balance by the specified amount.
      tags:
      - Currencies
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
      - name: playerId
        in: path
        required: true
        schema:
          type: string
      - name: currencyId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrencyBalanceUpdate'
      responses:
        '200':
          description: Updated currency balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyBalance'
components:
  schemas:
    CurrencyBalance:
      type: object
      properties:
        currencyId:
          type: string
        balance:
          type: integer
        writeLock:
          type: string
        created:
          $ref: '#/components/schemas/Timestamp'
        modified:
          $ref: '#/components/schemas/Timestamp'
    Timestamp:
      type: object
      properties:
        date:
          type: string
          format: date-time
    CurrencyBalanceUpdate:
      type: object
      required:
      - amount
      properties:
        amount:
          type: integer
          minimum: 1
        writeLock:
          type: string
          description: Optimistic lock token to prevent race conditions
    PlayerCurrencyBalances:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/CurrencyBalance'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Unity Economy Documentation
  url: https://docs.unity.com/ugs/en-us/manual/economy/manual/write-configuration/rest-api
