openapi: 3.2.0
info:
  title: Unity Economy Configuration API
  description: The Unity Economy REST API allows you to manage in-game economies including virtual currencies, inventory items, purchases, and player balances. It provides both Admin endpoints for configuring economy resources and Player endpoints for runtime player interactions such as making purchases and checking balances.
  version: v2.0.0
  termsOfService: https://unity.com/legal/terms-of-service
  contact:
    name: Unity Support
    url: https://support.unity.com
  license:
    name: Unity Terms of Service
    url: https://unity.com/legal/terms-of-service
servers:
- url: https://economy.services.api.unity.com
  description: Unity Economy Production Server
security:
- bearerAuth: []
tags:
- name: Configuration
  description: Admin endpoints for managing economy resources
paths:
  /v2/projects/{projectId}/environments/{environmentId}/configs/items:
    get:
      operationId: listEconomyConfigs
      summary: List Economy Configurations
      description: Returns a list of all economy resource configurations for the project.
      tags:
      - Configuration
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: after
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: List of economy configurations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EconomyConfigList'
        '401':
          description: Unauthorized
  /v2/projects/{projectId}/environments/{environmentId}/configs/items/{resourceId}:
    get:
      operationId: getEconomyConfig
      summary: Get Economy Configuration
      description: Returns the configuration of a specific economy resource.
      tags:
      - Configuration
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Economy resource configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EconomyConfig'
        '404':
          description: Not Found
components:
  schemas:
    EconomyConfig:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - CURRENCY
          - INVENTORY_ITEM
          - VIRTUAL_PURCHASE
          - REAL_MONEY_PURCHASE
        initial:
          type: number
          description: Initial balance (for currencies)
        max:
          type: number
          description: Maximum balance (for currencies)
        customData:
          type: object
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
    EconomyConfigList:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/EconomyConfig'
        links:
          type: object
          properties:
            next:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Unity Economy Documentation
  url: https://docs.unity.com/ugs/en-us/manual/economy/manual/write-configuration/rest-api
