openapi: 3.2.0
info:
  title: Unity Remote Config API
  description: The Unity Remote Config REST API enables launching new features, testing functionality, and modifying game configurations without requiring app updates. The Admin API manages settings, schemas, and override rules. The Runtime API delivers configuration values to game clients at runtime.
  version: v1.0.0
  termsOfService: https://unity.com/legal/terms-of-service
  contact:
    name: Unity Support
    url: https://support.unity.com
  license:
    name: Unity Terms of Service
    url: https://unity.com/legal/terms-of-service
servers:
- url: https://remote-config.services.api.unity.com
  description: Unity Remote Config Admin Server
- url: https://config.unity3d.com
  description: Unity Remote Config Runtime Server
security:
- bearerAuth: []
tags:
- name: Config
  description: Manage remote configuration key-value pairs
paths:
  /v1/projects/{projectId}/environments/{environmentId}/configs:
    get:
      operationId: listRemoteConfigs
      summary: List Remote Configs
      description: Returns all configuration schemas and their settings for the specified project environment.
      tags:
      - Config
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of configurations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigList'
        '401':
          description: Unauthorized
  /v1/projects/{projectId}/environments/{environmentId}/configs/{configId}:
    get:
      operationId: getRemoteConfig
      summary: Get Remote Config
      description: Returns a specific configuration with all its settings.
      tags:
      - Config
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
      - name: configId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Config'
        '404':
          description: Config not found
    put:
      operationId: updateRemoteConfig
      summary: Update Remote Config
      description: Creates or updates the complete set of settings for a configuration.
      tags:
      - Config
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
      - name: configId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConfigRequest'
      responses:
        '200':
          description: Configuration updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Config'
components:
  schemas:
    Config:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - settings
        projectId:
          type: string
        environmentId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        value:
          type: array
          items:
            $ref: '#/components/schemas/Setting'
    UpdateConfigRequest:
      type: object
      required:
      - type
      - value
      properties:
        type:
          type: string
          enum:
          - settings
        value:
          type: array
          items:
            $ref: '#/components/schemas/Setting'
    ConfigList:
      type: object
      properties:
        configs:
          type: array
          items:
            $ref: '#/components/schemas/Config'
    Setting:
      type: object
      required:
      - key
      - type
      - value
      properties:
        key:
          type: string
          description: Configuration key name
        type:
          type: string
          enum:
          - string
          - int
          - bool
          - float
          - json
          description: Data type of the setting
        value: {}
        description:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Unity Remote Config Documentation
  url: https://docs.unity.com/ugs/en-us/manual/remote-config/manual/write-configuration/rest-api
