openapi: 3.2.0
info:
  title: Unity Cloud Code Modules API
  description: The Unity Cloud Code Admin API enables creating, deploying, and managing serverless scripts and modules in the cloud. Cloud Code scripts run game logic on Unity's infrastructure, supporting both JavaScript functions and C# modules. Scripts can interact with other Unity Gaming Services including Economy, Cloud Save, and Remote Config.
  version: v1.0.0
  termsOfService: https://unity.com/legal/terms-of-service
  contact:
    name: Unity Support
    url: https://support.unity.com
  license:
    name: Unity Terms of Service
    url: https://unity.com/legal/terms-of-service
servers:
- url: https://cloud-code.services.api.unity.com
  description: Unity Cloud Code Production Server
security:
- bearerAuth: []
tags:
- name: Modules
  description: Manage C# cloud code modules
paths:
  /v1/projects/{projectId}/modules:
    get:
      operationId: listModules
      summary: List Modules
      description: Returns all Cloud Code C# modules for the project.
      tags:
      - Modules
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of modules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModuleList'
    post:
      operationId: uploadModule
      summary: Upload Module
      description: Uploads a compiled C# Cloud Code module (.ccm file).
      tags:
      - Modules
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The compiled .ccm module file
      responses:
        '200':
          description: Module uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Module'
  /v1/projects/{projectId}/modules/{moduleName}:
    get:
      operationId: getModule
      summary: Get Module
      description: Returns details about a specific Cloud Code C# module.
      tags:
      - Modules
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: moduleName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Module details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Module'
        '404':
          description: Module not found
    delete:
      operationId: deleteModule
      summary: Delete Module
      description: Deletes a Cloud Code C# module.
      tags:
      - Modules
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: moduleName
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Module deleted
components:
  schemas:
    Module:
      type: object
      properties:
        name:
          type: string
        signature:
          type: string
        size:
          type: integer
        endpoints:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              returnType:
                type: string
              params:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    type:
                      type: string
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
    ModuleList:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Module'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Unity Cloud Code Documentation
  url: https://docs.unity.com/ugs/en-us/manual/cloud-code/manual
