openapi: 3.0.1
info:
  title: Unity Analytics Allocations Servers API
  description: The Unity Analytics REST API provides endpoints for ingesting custom analytics events from game clients and servers. Events are used to track player behavior, game performance, and feature adoption. The API supports batched event ingestion with automatic retry and buffering for high-volume game telemetry.
  version: v1.0.0
  termsOfService: https://unity.com/legal/terms-of-service
  contact:
    name: Unity Support
    url: https://support.unity.com
  license:
    name: Unity Terms of Service
    url: https://unity.com/legal/terms-of-service
servers:
- url: https://analytics.services.api.unity.com
  description: Unity Analytics Production Server
security:
- apiKeyAuth: []
tags:
- name: Servers
  description: Manage individual server instances
paths:
  /v1/projects/{projectId}/regions/{regionId}/fleets/{fleetId}/servers:
    get:
      operationId: listServers
      summary: List Servers
      description: Returns all server instances in the specified fleet.
      tags:
      - Servers
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: regionId
        in: path
        required: true
        schema:
          type: string
      - name: fleetId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of servers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerList'
components:
  schemas:
    Server:
      type: object
      properties:
        id:
          type: integer
        ip:
          type: string
        port:
          type: integer
        queryPort:
          type: integer
        status:
          type: string
          enum:
          - ONLINE
          - ALLOCATED
          - OFFLINE
        machineID:
          type: integer
        created:
          type: string
          format: date-time
    ServerList:
      type: object
      properties:
        servers:
          type: array
          items:
            $ref: '#/components/schemas/Server'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
externalDocs:
  description: Unity Analytics Documentation
  url: https://docs.unity.com/ugs/en-us/manual/analytics/manual/rest-api
