openapi: 3.2.0
info:
  title: Unity Cloud Save Custom Data API
  description: The Unity Cloud Save REST API provides endpoints for persisting player data and game state in the cloud. It supports player-scoped data, custom data with access classes (default, protected, public), and admin operations for managing data across all players. Data is stored as key-value pairs with optional indexing for querying.
  version: v1.0.0
  termsOfService: https://unity.com/legal/terms-of-service
  contact:
    name: Unity Support
    url: https://support.unity.com
  license:
    name: Unity Terms of Service
    url: https://unity.com/legal/terms-of-service
servers:
- url: https://cloud-save.services.api.unity.com
  description: Unity Cloud Save Production Server
security:
- bearerAuth: []
tags:
- name: Custom Data
  description: Manage custom data with access class controls
paths:
  /v1/data/projects/{projectId}/players/{playerId}/protected-items:
    post:
      operationId: setProtectedPlayerData
      summary: Set Protected Player Data
      description: Creates or updates protected data items that can only be written by the server but read by the player.
      tags:
      - Custom Data
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: playerId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetPlayerDataRequest'
      responses:
        '200':
          description: Protected data items saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerDataList'
  /v1/data/projects/{projectId}/players/{playerId}/public-items:
    post:
      operationId: setPublicPlayerData
      summary: Set Public Player Data
      description: Creates or updates public data items visible to all players in the game.
      tags:
      - Custom Data
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: playerId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetPlayerDataRequest'
      responses:
        '200':
          description: Public data items saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerDataList'
components:
  schemas:
    PlayerDataList:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/DataItem'
        links:
          type: object
          properties:
            next:
              type: string
    DataItem:
      type: object
      properties:
        key:
          type: string
          description: Data key (up to 255 characters)
        value:
          description: Data value (any JSON-serializable value)
        writeLock:
          type: string
          description: Optimistic concurrency lock token
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
    SetPlayerDataRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            type: object
            required:
            - key
            - value
            properties:
              key:
                type: string
              value: {}
              writeLock:
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Unity Cloud Save Documentation
  url: https://docs.unity.com/ugs/en-us/manual/cloud-save/manual/reference/rest-api
