openapi: 3.2.0
info:
  title: Unity Multiplay Game Server Hosting Servers API
  description: The Unity Multiplay Game Server Hosting REST API provides Admin endpoints for configuring and managing dedicated game server infrastructure. Supports fleet management, server allocation, build configuration, and server lifecycle management in cloud, bare metal, and hybrid hosting environments.
  version: v1.0.0
  termsOfService: https://unity.com/legal/terms-of-service
  contact:
    name: Unity Support
    url: https://support.unity.com
  license:
    name: Unity Terms of Service
    url: https://unity.com/legal/terms-of-service
servers:
- url: https://multiplay.services.api.unity.com
  description: Unity Multiplay Production Server
security:
- bearerAuth: []
tags:
- name: Servers
  description: Manage individual server instances
paths:
  /v1/projects/{projectId}/regions/{regionId}/fleets/{fleetId}/servers:
    get:
      operationId: listServers
      summary: List Servers
      description: Returns all server instances in the specified fleet.
      tags:
      - Servers
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: regionId
        in: path
        required: true
        schema:
          type: string
      - name: fleetId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of servers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerList'
components:
  schemas:
    ServerList:
      type: object
      properties:
        servers:
          type: array
          items:
            $ref: '#/components/schemas/Server'
    Server:
      type: object
      properties:
        id:
          type: integer
        ip:
          type: string
        port:
          type: integer
        queryPort:
          type: integer
        status:
          type: string
          enum:
          - ONLINE
          - ALLOCATED
          - OFFLINE
        machineID:
          type: integer
        created:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Unity Multiplay Documentation
  url: https://docs.unity.com/ugs/en-us/manual/game-server-hosting/manual/api/rest-api
