openapi: 3.2.0
info:
  title: Unity Cloud Code Executions API
  description: The Unity Cloud Code Admin API enables creating, deploying, and managing serverless scripts and modules in the cloud. Cloud Code scripts run game logic on Unity's infrastructure, supporting both JavaScript functions and C# modules. Scripts can interact with other Unity Gaming Services including Economy, Cloud Save, and Remote Config.
  version: v1.0.0
  termsOfService: https://unity.com/legal/terms-of-service
  contact:
    name: Unity Support
    url: https://support.unity.com
  license:
    name: Unity Terms of Service
    url: https://unity.com/legal/terms-of-service
servers:
- url: https://cloud-code.services.api.unity.com
  description: Unity Cloud Code Production Server
security:
- bearerAuth: []
tags:
- name: Executions
  description: Execute cloud code scripts
paths:
  /v1/projects/{projectId}/scripts/{scriptName}/run:
    post:
      operationId: runScript
      summary: Run Script
      description: Executes a Cloud Code script with the provided parameters. The script runs asynchronously and returns the result.
      tags:
      - Executions
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: scriptName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunScriptRequest'
      responses:
        '200':
          description: Script execution result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScriptRunResult'
        '400':
          description: Bad Request
        '404':
          description: Script not found
components:
  schemas:
    RunScriptRequest:
      type: object
      properties:
        params:
          type: object
          description: Parameters to pass to the script
    ScriptRunResult:
      type: object
      properties:
        output:
          description: The return value from the script
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Unity Cloud Code Documentation
  url: https://docs.unity.com/ugs/en-us/manual/cloud-code/manual
