openapi: 3.0.1
info:
  title: Unity Analytics Allocations Modules API
  description: The Unity Analytics REST API provides endpoints for ingesting custom analytics events from game clients and servers. Events are used to track player behavior, game performance, and feature adoption. The API supports batched event ingestion with automatic retry and buffering for high-volume game telemetry.
  version: v1.0.0
  termsOfService: https://unity.com/legal/terms-of-service
  contact:
    name: Unity Support
    url: https://support.unity.com
  license:
    name: Unity Terms of Service
    url: https://unity.com/legal/terms-of-service
servers:
- url: https://analytics.services.api.unity.com
  description: Unity Analytics Production Server
security:
- apiKeyAuth: []
tags:
- name: Modules
  description: Manage C# cloud code modules
paths:
  /v1/projects/{projectId}/modules:
    get:
      operationId: listModules
      summary: List Modules
      description: Returns all Cloud Code C# modules for the project.
      tags:
      - Modules
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of modules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModuleList'
    post:
      operationId: uploadModule
      summary: Upload Module
      description: Uploads a compiled C# Cloud Code module (.ccm file).
      tags:
      - Modules
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The compiled .ccm module file
      responses:
        '200':
          description: Module uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Module'
  /v1/projects/{projectId}/modules/{moduleName}:
    get:
      operationId: getModule
      summary: Get Module
      description: Returns details about a specific Cloud Code C# module.
      tags:
      - Modules
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: moduleName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Module details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Module'
        '404':
          description: Module not found
    delete:
      operationId: deleteModule
      summary: Delete Module
      description: Deletes a Cloud Code C# module.
      tags:
      - Modules
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: moduleName
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Module deleted
components:
  schemas:
    ModuleList:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Module'
    Module:
      type: object
      properties:
        name:
          type: string
        signature:
          type: string
        size:
          type: integer
        endpoints:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              returnType:
                type: string
              params:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    type:
                      type: string
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
externalDocs:
  description: Unity Analytics Documentation
  url: https://docs.unity.com/ugs/en-us/manual/analytics/manual/rest-api
