openapi: 3.2.0
info:
  title: Unity Multiplay Game Server Hosting Allocations API
  description: The Unity Multiplay Game Server Hosting REST API provides Admin endpoints for configuring and managing dedicated game server infrastructure. Supports fleet management, server allocation, build configuration, and server lifecycle management in cloud, bare metal, and hybrid hosting environments.
  version: v1.0.0
  termsOfService: https://unity.com/legal/terms-of-service
  contact:
    name: Unity Support
    url: https://support.unity.com
  license:
    name: Unity Terms of Service
    url: https://unity.com/legal/terms-of-service
servers:
- url: https://multiplay.services.api.unity.com
  description: Unity Multiplay Production Server
security:
- bearerAuth: []
tags:
- name: Allocations
  description: Allocate servers for game sessions
paths:
  /v1/projects/{projectId}/regions/{regionId}/fleets/{fleetId}/allocations:
    post:
      operationId: allocateServer
      summary: Allocate Server
      description: Allocates an available server from the fleet for a new game session.
      tags:
      - Allocations
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: regionId
        in: path
        required: true
        schema:
          type: string
      - name: fleetId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllocateServerRequest'
      responses:
        '200':
          description: Server allocated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Allocation'
        '404':
          description: No servers available
components:
  schemas:
    Allocation:
      type: object
      properties:
        allocationID:
          type: string
          format: uuid
        serverID:
          type: integer
        ip:
          type: string
        port:
          type: integer
        queryPort:
          type: integer
    AllocateServerRequest:
      type: object
      properties:
        allocationContext:
          type: string
          description: Custom context data for the allocation
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Unity Multiplay Documentation
  url: https://docs.unity.com/ugs/en-us/manual/game-server-hosting/manual/api/rest-api
